@import 'bootstrap';
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/animations/scale.css';
@import '@fontsource/montserrat';

:root {
	--pink: #ff99c7;
	--salmon: #de5b61;
	--blue: #01719d;
	--green: #6f7e1a;
	--gray: rgb(200 200 200);
	--black: rgb(80 80 80);
}

body {
	font-family: 'Montserrat', sans-serif;
}

.flex-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	gap: 1rem;
}

.button-group {
	display: flex;
	width: auto;
	align-content: stretch;
	gap: 0.5rem;
}

.button {
	color: white;
	text-decoration: none;
	padding: 8px 12px;
	border-radius: 16px;
	font-weight: 600;
	font-size: 1rem;
	border: none;
	transition: scale 0.1s ease;
}

.button.salmon {
	background-color: var(--salmon);
}

.button.pink {
	background-color: var(--pink);
}

.button.green {
	background-color: var(--green);
}

.button.blue {
	background-color: var(--blue);
}

.tag {
	display: flex;
	width: fit-content;
	padding: 0 8px;
	height: 30px;
	background-color: var(--gray);
	color: var(--black);
	border-radius: 16px;
	font-size: 12px;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	border: 1px var(--black) solid;
}

.tag-group {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 1rem 0;
}
